extends layout

block content
    h1 Administrador
    
    h2 Vista usuarios
    div(style="overflow-y: scroll; height:200px;")
        table(style="width:50%")
            thead
            tr
                th IdRefugio
                th Nombre
                th Cantidad de reservas
            tbody
            each refugio in refugios
                tr
                    td #{refugio.id}
                    td #{refugio.nom}
                    td #{refugio.total}