extends layout

block content
  h1 Carga masiva de refugios
  form(action="/carga", method="post")
    h3 Escriba los refugios a cargar
    p
    textarea(name="jsonText", cols="60",  rows="30")
        
    p 
    input(type="submit", value="Cargar", id="btnLoad", formaction="/carga/load")