doctype html
html
  head
    title= ShelterFamily
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.pull-left
      a.btn.btn-default.btn-xs.navbar-btn(href='/Administrador') Estadisticas
      a.btn.btn-default.btn-xs.navbar-btn(href='/carga') Carga Masiva
    block content
