body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  #C1E9FF;
}

a {
  background-color: #FF9100; /* Green */
  border: none;
  color: rgb(223, 244, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a:hover {
  background-color: #AA5000
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: rgb(255, 224, 183)}
tr:nth-child(odd){background-color: rgb(255, 216, 164)}


th {
  background-color: #FF9100;
  color: rgb(223, 244, 255);
}

